* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: transparent !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color-scheme: normal !important;
}

button.certificate-backdrop {
  border: none;
  padding: 0;
  cursor: pointer;
}
